{% extends 'main/base.html' %}

{% block title %}Meals{% endblock %}

{% block content %}
    <div class="page-header">
      <h1>List of meals</h1>
    </div>
    <p><a href="{% url 'main:new_meal' %}" class="btn btn-success" role="button">Add meal <i class="fa fa-plus-square"></i></a></p>
    {% if all_meals %}
	<div class="list-group">
	{% for meal in all_meals %}
	    <a href="{% url 'main:rating' meal.id  %}" class="list-group-item">{{meal.name}}  <span class="badge">${{meal.price|floatformat:2}}</span></a>
	{% endfor %}
	</div>
    {% else %}
	<div class="alert alert-danger" role="alert"><i class="fa fa-exclamation-triangle"></i> There is no meals yet</div>
    {% endif %}
{% endblock %}