{% extends 'main/base.html' %}

{% block title%}Ratings for {{meal.name}}{% endblock %}

{%block content %}
<div class="page-header">
  <h1>{{meal.name}} <small>${{meal.price|floatformat:2}}</small></h1>
  {% if avg_stars %}
    <h2>
        {% for star in avg_stars %}
        <i title="{{avg_rating.value__avg|floatformat:1}}" class="fa fa-star rating-star"></i>
        {% endfor %}
        {% if half_star >= 0.5 %}
        <i title="{{avg_rating.value__avg|floatformat:1}}" class="fa fa-star-half rating-star"></i>
        {% endif %}
    </h2>
  {% endif %}
</div>
<div class="panel panel-default">
  <div class="panel-body">
    {{meal.description}}
  </div>
  <div class="panel-footer"><a href="{% url 'main:rate' meal.id %}" >Rate {{meal.name}}</a></div>
</div>
    {% if ratings %}
    <h4>Comments</h4>
	{% for rating in ratings %}
	<div class="media">
	 <a class="pull-left" href="#">
	  <img class="media-object" >
	  <a>{{rating.user.username}}</a>
	 </a>
	 <div class="media-body">
	  <h4 class="media-heading">{% for star in rating.stars %}<i class="fa fa-star rating-star"></i>{% endfor %}</h4>
	  {{rating.comment}}
      <p class="text-muted"><small>{{rating.rate_date|date:"D, d-m-Y, H:i:s"}}</small></p>
	 </div>
	</div>
	{% endfor %}
    {% else %}
    <div class="alert alert-danger" role="alert"><i class="fa fa-exclamation-triangle"></i> There is no ratings yet</div>
    {% endif %}
{% endblock %}